# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3

# plant image path
media/

# vscode
.vscode/

# .pt file
*.pt

# ignore cam images
gradcam/results/